<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
    <add key="dependencyVersion" value="Highest" />
    <add key="globalPackagesFolder" value="F:\nuget\packages" />
      <add key="repositoryPath" value="F:\nuget\packages" />
    </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="CliFallbackFolder" value="F:\nuget\NuGetFallbackFolder" />
  </packageSources>
</configuration>